.card__button__export{
  background-color: #71dd37;
  border: #71dd37;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}
.card__button__export:hover{
  background-color: #4bb412;
  border: #4bb412;
}

.buscador{
  max-height: 45px;
}

.card-header{
  background-color: transparent;
}

.tabla {
  max-height: 600px;
  border: 2px solid #005ea5;
}

#table_hu thead {
  position: sticky;
  top: -5px;
  z-index: 1;
}

.tabla::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.tabla::-webkit-scrollbar:horizontal {
  height: 8px; /* width of the entire scrollbar */
}

.tabla::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.tabla::-webkit-scrollbar-thumb {
  background-color: #005ea5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid #005ea5;  creates padding around scroll thumb */
}
