<div class="row">
  <div class="col-lg-12 mb-4 order-0">
    <div class="card border-0">
      <div class="d-flex align-items-end row">
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title text-primary"><span class="text-muted fw-light">Maestra de</span> Habilitaciones
              Urbanas</h5>
            <p class="mb-4">
              <span class="fw-bold">Consultas Generales </span> de Habilitaciones urbanas
            </p>
          </div>
        </div>
        <div class="col-sm-4 text-end text-sm-left">
          <div class="card-body pb-0 px-0 px-md-4">
            <img src="../assets/img/illustrations/habilitaciones-urbanas.svg" height="140" alt="View Badge User"
              data-app-dark-img="illustrations/habilitaciones-urbanas.svg"
              data-app-light-img="illustrations/habilitaciones-urbanas.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md">
    <!-- Form controls -->
    <div class="col-md-12">
      <div class="card border-0">
        <div class="card-body">
          <form class="card__form" (ngSubmit)="consutlarHabilitacion();">
            <div class="card__fieldset">
              <h2 class="card__fieldset__title">Habilitación Urbana</h2>
              <div class="row p-2 d-flex justify-content-between">
                <div class="col-md-2">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="cod_hab_urb" placeholder="Código"
                      name="CHRCURCODIGO" [(ngModel)]="ItipoHU.CHRCURCODIGO" maxlength="3">
                    <label for="cod_hab_urb" class="form__label__hu">Código</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control shadow-none" id="desc_hab_urb" placeholder="Nombre de Habilitación"
                      name="VCHCURDESCRIPCION1" [(ngModel)]="ItipoHU.VCHCURDESCRIPCION1" maxlength="60"
                      oninput="this.value = this.value.toUpperCase()">
                    <label for="desc_hab_urb" class="form__label__descripcion__hu">Nombre de Habilitación</label>
                  </div>
                </div>
                <div class="col-md-4 px-3 card__button__clear__content d-flex">
                  <button type="button" class="btn btn-light card__button__clear" (click)="limpiarBusqueda();"
                    placement="end" ngbTooltip="Limpiar el filtro">
                    <i class='bx bxs-eraser'></i>&nbsp; Limpiar Búsqueda
                  </button>

                  <button type="submit" class="btn btn-primary my-3 mx-3 card__button__search" #formButtonSearch
                    (click)="consutlarHabilitacion();">
                    <i class='bx bx-search-alt'></i>&nbsp; Búscar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <app-tables-hu [tituloTabla]="tituloTabla" [cabecerasYfooterTabla]="cabecerasYfooterTabla" [cuerpoTabla]="cuerpoTabla"
    *ngIf="dataObtnida"></app-tables-hu>
  <app-empty-data [icono]="icono" [texto]="texto" *ngIf="sinResultados"></app-empty-data>
</div>

<app-toast-errors [tituloToast]="tituloToast" [cuerpoToast]="cuerpoToast" *ngIf="errorCarga"></app-toast-errors>
