<div class="row">
  <div class="col-lg-12 mb-4 order-0">
    <div class="card border-0">
      <div class="d-flex align-items-end row">
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title text-primary"><span class="text-muted fw-light">Maestra de</span> Vías</h5>
            <p class="mb-4">
              <span class="fw-bold">Consultas Generales </span> de Vías y Habilitaciones Urbanas
            </p>
          </div>
        </div>
        <div class="col-sm-4 text-end text-sm-left">
          <div class="card-body pb-0 px-0 px-md-4">
            <img src="../assets/img/illustrations/maestra-vias.svg" height="140" alt="View Badge User"
              data-app-dark-img="illustrations/maestra-vias.svg"
              data-app-light-img="illustrations/maestra-vias.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-hu-vias></app-hu-vias>



