.logo-brand{
  max-width: 200px;
}

a{
  cursor: pointer;
  text-decoration: none;
}
.btn-logout{
  border: 1px solid #005ea5;
  color: #005ea5;
}

.btn-logout:hover{
  background-color: #005ea5 !important;
  color: #fff;
  transition: .7s !important;
}
