<!-- Bootstrap Table with Header - Footer -->
<!-- TABLA RESULTANTE DE LA BÚSQUEDA DE PADRÓN-->
<div class="card border-0 shadow p-3 mb-3 bg-body-tertiary rounded">
  <h5 class="card-header">
    <div class="row">
      <div class="col-md-5">
        <div class="input-group input-group-merge">
          <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
          <input type="text" class="form-control buscador" placeholder="Búscar Sobre Tus Resultados." placement="top"
            ngbTooltip="Busca sobre tus resultados!" [(ngModel)]="searchText"
            oninput="this.value = this.value.toUpperCase()" />
          <button class="btn btn-danger" data-bs-toggle="tooltip" title="Limpiar filtro" (click)="limpiarFiltro();"
            placement="right" ngbTooltip="Limpiar filtro"><i class='bx bxs-eraser'></i></button>
        </div>
      </div>
      <div class="col-md-4 mt-3">
        <!-- {{ tituloTabla }} -->
      </div>

      <div class="col-md-3 d-flex justify-content-end" *ngIf="identificador">
        <button type="button" class="btn btn-success my-3 mx-3 card__button__export" #formButtonExport
          (click)="exportarExcel();">
          <img src="./assets/img/icons/export_excel.svg" width="19px">&nbsp; Exportar
        </button>
      </div>
    </div>
  </h5>
  <div class="table-responsive text-nowrap tabla">
    <table class="table table-hover" id="table_via_hu" #tableViaHU>
      <thead>
        <tr>
          <th *ngFor="let cabecera of cabecerasYfooterTabla">{{ cabecera }}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let cuerpo of cuerpoTabla | buscadorVias : searchText">
          <td *ngIf="!identificador">
            <button type="button" class="btn btn-primary btn-sm" placement="top" ngbTooltip="Listar Lotes"
              (click)="openListarLotes(content1, cuerpo);">
              <i class='bx bx-list-ol'></i>
            </button>
            <button type="button" class="btn btn-sm btn-primary mx-2" placement="top" ngbTooltip="Búscar Lotes"
              (click)="openBuscarLotes(content2, cuerpo)">
              <i class='bx bxs-file-find'></i>
            </button>
          </td>
          <td>{{ cuerpo.CHRCURCODIGO }}</td><!--COD DE HAB-->
          <td>{{ cuerpo.VCHTCUDESCRIPCION }}</td><!--TIPO DE HAB-->
          <td>{{ cuerpo.VCHCURDESCRIPCION }}</td><!--NOMBRE DE HAB-->
          <td>{{ cuerpo.VCHVIACODIGO }}</td><!--COD DE VIA-->
          <td>{{ cuerpo.VCHTVIDESCRIPCION }}</td><!--TIPO DE VÍA-->
          <td>{{ cuerpo.VCHVIADESCRIPCION }}</td><!--NOMBRE DE VÍA-->
        </tr>
      </tbody>
      <tfoot class="table-border-bottom-0">
        <tr>
          <th *ngFor="let footer of cabecerasYfooterTabla">{{ footer }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<!-- Bootstrap Table with Header - Footer -->

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Lista de Lotes</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click'); withOutFocus()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-4" *ngIf="!identificador">
      <div class="col-md-12">
        <div class="card border-0">
          <div class="card-body">
            <div class="row d-flex align-items-center">
              <div class="col-md-9">
                <div class="form-floating">
                  <input type="text" class="form-control shadow-none" id="hu-via"
                    placeholder="HABILITACIÓN URBANA / VÍA" maxlength="25" disabled [(ngModel)]="habilitacionVia">
                  <label for="hu-via" class="form__label__exp__num">HABILITACIÓN URBANA / VÍA</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-floating">
                  <select class="form-select shadow-none" id="cuadras" aria-label="CUADRAS"
                    (change)="habilitacionPorCuadra($any($event))">
                    <option selected value="">(TODOS)</option>
                    <option *ngFor="let c of cuadras" [value]="c">{{ c }}</option>
                  </select>
                  <label for="cuadras">CUADRAS</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="overflow-y-scroll alto">
          <table class="table table-bordered table-striped tabla-izquierda">
            <thead>
              <tr>
                <th colspan="8" class="text-center">LADO IZQUIERDO</th>
              </tr>
              <tr class="text-center">
                <th>Opc.</th>
                <th>Cdra.</th>
                <th>Mz.</th>
                <th>Lt.</th>
                <th>SLt.</th>
                <th>Rgo. Inf.</th>
                <th>Rgo. Sup.</th>
                <th>Cód. Lot.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let derecha of ladoDerecho;">
                <td>
                  <button type="button" class="btn btn-sm btn-primary" placement="top" ngbTooltip="Seleccionar" (click)="openSeleccionRangos(content3, derecha)">
                    <i class='bx bxs-message-square-check'></i>
                  </button>
                </td>
                <td>{{ derecha.VCHRANCUADRA }}</td>
                <td>{{ derecha.VCHMZANUMERO }}</td>
                <td>{{ derecha.VCHLOTNUMERO }}</td>
                <td>{{ derecha.VCHSLTNUMERO }}</td>
                <td>{{ derecha.SMLRANINFERIOR }}</td>
                <td>{{ derecha.SMLRANSUPERIOR }}</td>
                <td>{{ derecha.VCHLOTCODIGO }}</td>
              </tr>
              <tr *ngIf="ladoDerecho.length <= 0">
                <td colspan="8" class="text-center">---</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="overflow-y-scroll alto">
          <table class="table table-bordered table-striped tabla-derecha">
            <thead>
              <tr>
                <th colspan="8" class="text-center">LADO DERECHO</th>
              </tr>
              <tr>
                <th>Opc.</th>
                <th>Cdra.</th>
                <th>Mz.</th>
                <th>Lt.</th>
                <th>SLt.</th>
                <th>Rgo. Inf.</th>
                <th>Rgo. Sup.</th>
                <th>Cód. Lot.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let izquirda of ladoIzquierdo">
                <td>
                  <button type="button" class="btn btn-sm btn-primary" placement="top" ngbTooltip="Seleccionar" (click)="openSeleccionRangos(content3, izquirda)">
                    <i class='bx bxs-message-square-check'></i>
                  </button>
                </td>
                <td>{{ izquirda.VCHRANCUADRA }}</td>
                <td>{{ izquirda.VCHMZANUMERO }}</td>
                <td>{{ izquirda.VCHLOTNUMERO }}</td>
                <td>{{ izquirda.VCHSLTNUMERO }}</td>
                <td>{{ izquirda.SMLRANINFERIOR }}</td>
                <td>{{ izquirda.SMLRANSUPERIOR }}</td>
                <td>{{ izquirda.VCHLOTCODIGO }}</td>
              </tr>
              <tr *ngIf="ladoIzquierdo.length <= 0">
                <td colspan="8" class="text-center">---</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.close('Close click'); withOutFocus()">
      Cancelar
    </button>
  </div>
</ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Manzanas y Lotes</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click'); withOutFocus()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" class="form-control shadow-none" id="haburbana" placeholder="HABILITACIÓN URBANA"
                name="HABURBANA" [(ngModel)]="habilitacionVia" disabled>
              <label for="haburbana">HABILITACIÓN URBANA</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <select class="form-select shadow-none" id="vias" aria-label="(TODOS)">
                <option selected value="">(TODOS)</option>
                <option [value]="via.VCHVIACODIGO" *ngFor="let via of cuerpoTabla">{{ via.VCHVIADESCRIPCION }}</option>
              </select>
              <label for="vias">Vía</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="overflow-y-scroll alto">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action rounded-0 active cabecera"
              aria-current="true">
              Mz.
            </button>
            <button type="button" class="list-group-item list-group-item-action" *ngFor="let manzana of manzanas" >{{ manzana }}</button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="overflow-y-scroll alto">
          <table class="table table-bordered table-striped tabla-izquierda tabla_mz_lte">
            <thead>
              <tr class="text-center">
                <th>Lote</th>
                <th>Sub-Lote</th>
                <th>Cód. Vía</th>
                <th>Vía Circundante</th>
                <th>Lado</th>
                <th>Cdra.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.close('Close click'); withOutFocus()">
      Cancelar
    </button>
  </div>
</ng-template>


<ng-template #content3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Selección de Rangos</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click'); withOutFocus()"></button>
  </div>
  <div class="modal-body">
    <div class="row mb-4">
      <div class="col-md-12">
        <div class="row">
          {{ IPadronRespuesta | json}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-secondary" (click)="modal.close('Close click'); withOutFocus()">
      Cancelar
    </button>
  </div>
</ng-template>
