.card__button__export {
  background-color: #71dd37;
  border: #71dd37;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}
.card__button__export:hover {
  background-color: #4bb412;
  border: #4bb412;
}

.buscador {
  max-height: 45px;
}

.card-header {
  background-color: transparent;
}

.btn-primary {
  background-color: #005ea5;
  border: #005ea5;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}
.btn-primary:hover {
  background-color: #004275;
  border: #004275;
}

.contenedor__pdf {
  width: 1108px;
  height: 930px;
}

.table_certificado{
  max-height: 600px;
  border: 2px solid #005ea5;
}

#table_certificados thead {
  position: sticky;
  top: -5px;
  z-index: 1;
}

.table_certificado::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.table_certificado::-webkit-scrollbar:horizontal {
  height: 8px; /* width of the entire scrollbar */
}

.table_certificado::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.table_certificado::-webkit-scrollbar-thumb {
  background-color: #005ea5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* border: 3px solid #005ea5;  creates padding around scroll thumb */
}

@media (max-width: 1200px) {
  .contenedor__pdf {
    width: 768px;
    height: 750px;
  }
}

@media (max-width: 995px) {
  .contenedor__pdf {
    width: 470px;
    height: 750px;
  }
}

@media (max-width: 770px) {
  .contenedor__pdf {
    width: 443px;
    height: 750px;
  }
}

@media (max-width: 570px) {
  .contenedor__pdf {
    width: 500px;
    height: 750px;
  }
}
