<div class="card border-0 shadow p-3 mb-5 bg-body-tertiary rounded">
  <h5 class="card-header">
    <div class="row">
      <div class="col-md-6 mt-3">
        <div class="input-group input-group-merge">
          <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
          <input type="text" class="form-control" placeholder="Búscar Sobre Tus Resultados." placement="top"
            ngbTooltip="Busca sobre tus resultados!" [(ngModel)]="searchText"
            oninput="this.value = this.value.toUpperCase()" />
          <button class="btn btn-danger" data-bs-toggle="tooltip" title="Limpiar filtro" (click)="limpiarFiltro();"
            placement="right" ngbTooltip="Limpiar filtro"><i class='bx bxs-eraser'></i></button>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-success my-3 mx-3 card__button__export" #formButtonExport
          (click)="exportarExcel();">
          <img src="./assets/img/icons/export_excel.svg" width="19px">&nbsp; Exportar
        </button>
      </div>
    </div>
  </h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-hover" id="table_certificados" #tableHu>
      <thead>
        <tr>
          <th *ngFor="let cabecera of cabecerasYfooterTabla">{{ cabecera }}</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let cuerpo of cuerpoTabla | buscadorHu : searchText">
          <td>
            <button (click)="imprimir(cuerpo.INTCERCODIGO, content)" class="btn btn-sm btn-primary" placement="top"
              ngbTooltip="Imprimir">
              <i class='bx bxs-printer text-light'></i>
            </button>
            <button type="button" class="btn btn-sm btn-success mx-2" placement="top" ngbTooltip="Modificar">
              <i class='bx bxs-message-square-edit'></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" placement="top" ngbTooltip="Anular">
              <i class='bx bxs-message-square-x'></i>
            </button>
          </td>
          <td>{{ cuerpo.CHRCERANIO }}</td>
          <td>{{ cuerpo.TXTNUMCER }}</td>
          <td class="text-center">
            <span class="badge text-bg-success" placement="top" ngbTooltip="ACTIVO">
              <!-- <i class='bx bxs-x-square'></i> -->
              <i class='bx bxs-check-square'></i>
            </span>
          </td>
          <td>{{ cuerpo.VCHNUMEXP }}</td>
          <td>{{ cuerpo.VCHTIPOHU }}</td>
          <td>{{ cuerpo.VCHNOMBREHU }}</td>
          <td>{{ cuerpo.VCHLOTDESMZHU }}</td>
          <td>{{ cuerpo.VCHLOTDESLTHU }}</td>
          <td>{{ cuerpo.VCHCERSOLICITANTE }}</td>
          <td>{{ cuerpo.VCHCODLOTECAT }}</td>
        </tr>
      </tbody>
      <tfoot class="table-border-bottom-0">
        <tr>
          <th *ngFor="let footer of cabecerasYfooterTabla">{{ footer }}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<ng-template #content let-modal class="">
  <div class="modal-body">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="col-12">
        <object type="application/pdf" [data]="rutaPDF | safeUrls" class="contenedor__pdf">
          ERROR (no puede mostrarse el DOCUMENTO)
        </object>
      </div>
    </div>
  </div>
</ng-template>
