<div class="contenedor" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2 class="text-center">Sistema de Numeraciones</h2>
      <!-- <p class="my-4">Inicio de Sesión</p> -->
      <input type="text" placeholder="Nombre de usuario" class="form-control text-center my-2 shadow-none" autocomplete="off" autofocus/>
      <input type="password" placeholder="Contraseña" class="form-control text-center mb-2 shadow-none" autocomplete="off"/>
      <button class="btn btn-primary w-75 mt-2 shadow-none">INGRESAR</button>
  </div>
</div>
