.card__form {
  min-width: 100%;
  margin: 0 auto;
}

.card__fieldset {
  width: 100%;
  min-width: auto;
  border: 2px solid #005ea5;
  padding-bottom: 15px;
}

.card__fieldset__title {
  width: 15%;
  font-size: 14px;
  margin-top: -9px;
  margin-left: 15px;
  background-color: #fff;
  transition: 0.5s ease-in;
  text-align: center;
  color: #005ea5;
}

.card__button__clear {
  background-color: transparent;
  border: 0;
}

.card__button__clear:hover {
  color: #005ea5;
  background-color: transparent;
  border: 0;
}

.card__button__clear__content {
  max-height: 75px;
  width: 350px;
  margin: 10px 0;
}

.card__codigo__validacion {
  color: red;
}

.dp-hidden {
  width: 0;
  margin: 0;
  border: none;
  padding: 0;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.custom-day.focused {
  background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}

.custom-day.faded {
  background-color: #86b7fe;
}

.cajas-fechas {
  height: 58px;
}

.cajas-fechas:focus {
  border: 1px solid #86b7fe;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.caja-fecha-nuevo:focus {
  border: 1px solid #86b7fe;
}

.tab-nue-cert {
  max-height: 180px;
  display: flex;
  overflow: auto;
  justify-content: end;
}

.tab-nue-cert thead th {
  position: sticky;
  top: -1px;
  z-index: 1;
}

.tab-principal {
  min-height: 266px;
  max-height: 266px;
  padding-top: 3px;
}

.tab-principal thead {
  position: sticky;
  top: -5px;
  z-index: 1;
}

.fila{
  border: 1px solid #005da5c5;
  margin: 2px 0;
  border-radius: 5px;
}

